<!DOCTYPE html>
<html>
<head lang="en">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <meta charset="UTF-8">
    <title>Add Items</title>
</head>
<body>
<div class="header">
    <ul>
        <li>Home</li>
    </ul>
</div>

<div class="main">
    <div class="add_item">
        <form action="/home/add_items" method="post" autocomplete="off">
            {% csrf_token %}
            <label for="item_name">Item : </label>
            <input id="item_name" type="text" name="item_name"/>
            <label for="item_model">Model : </label>
            <input id="item_model" type="text" name="item_model"/>
            <label for="item_quantity">Quantity : </label>
            <input id="item_quantity" type="text" name="item_quantity"/>
            <label for="item_cost">Cost : </label>
            <input id="item_cost" type="text" name="item_cost"/>
            <input type="submit"/>
        </form>
    </div>
</div>

</body>
</html>