<!DOCTYPE html>
<html>
<head lang="en">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <meta charset="UTF-8">
    <title>Admin Home</title>
</head>
<body>
<div class="header">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Add Items</a></li>
        <li><a href="#">Reports</a></li>
    </ul>
</div>

<div class="admin-main">
<table>
    <thead>
        <td>S. No</td>
        <td>Item</td>
        <td>Model No</td>
        <td>Total</td>
        <td>Issued</td>
        <td>Remaining</td>
        <td>Info</td>
    </thead>
    <tr>
        <td>1</td>
        <td>Item 1</td>
        <td>V2.3</td>
        <td>10</td>
        <td>4</td>
        <td>6</td>
        <td><a href="#">Info</a></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Item 2</td>
        <td>V2.4</td>
        <td>4324</td>
        <td>234</td>
        <td>324</td>
        <td><a href="#">Info</a></td>
    </tr>
    <tr>
        <td>3</td>
        <td>Item 3</td>
        <td>V2.3</td>
        <td>234</td>
        <td>24</td>
        <td>234</td>
        <td><a href="#">Info</a></td>
    </tr>
    <tr>
        <td>4</td>
        <td>Item 4</td>
        <td>V2.3</td>
        <td>234</td>
        <td>234</td>
        <td>6435</td>
        <td><a href="#">Info</a></td>
    </tr>
    <tr>
        <td>5</td>
        <td>Item 5</td>
        <td>V2.3</td>
        <td>645</td>
        <td>21</td>
        <td>54</td>
        <td><a href="#">Info</a></td>
    </tr>
    <tr>
        <td>6</td>
        <td>Item 6</td>
        <td>V2.3</td>
        <td>75</td>
        <td>234</td>
        <td>34</td>
        <td><a href="#">Info</a></td>
    </tr>
    <tr>
        <td>7</td>
        <td>Item 7</td>
        <td>V2.3</td>
        <td>6345</td>
        <td>423</td>
        <td>62</td>
        <td><a href="#">Info</a></td>
    </tr>
    <tr>
        <td>8</td>
        <td>Item 8</td>
        <td>V2.3</td>
        <td>234</td>
        <td>23</td>
        <td>236</td>
        <td><a href="#">Info</a></td>
    </tr>
    <tr>
        <td>9</td>
        <td>Item 9</td>
        <td>V2.3</td>
        <td>42432</td>
        <td>23</td>
        <td>23236</td>
        <td><a href="#">Info</a></td>
    </tr>
    <tr>
        <td>10</td>
        <td>Item 10</td>
        <td>V2.3</td>
        <td>14234320</td>
        <td>324324</td>
        <td>3243242</td>
        <td><a href="#">Info</a></td>
    </tr>
</table>
</div>

</body>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th, thead {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
</html>